@import '../../config/config.css';

a{
    color: #464646; 
}

.view-account-main-div{
    display: grid;
    grid-template-columns: 200px auto;
    font-family: "Amarante", cursive;
    color: #464646; 
    padding: 0px 35px;
}
.view-account-left{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
    border: 1.5px solid #464646;
    border-radius: 5px;
    padding: 20px 0px;
    height: fit-content;
}
.user-account-img-main{
    display: flex;
    justify-content: center;
}
.user-account-img{
    background-color: #3D3D3D;
    color: white;
    padding: 13px 21px;
    border-radius: 40px;
    font-family: "Amarante", cursive;
    font-size: 22px;
}
.user-greeting-text{
    font-family: "Carter One", cursive;
    color: black;
    margin-top: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
.view-account-page-btn{
    margin-bottom: 18px;
    cursor: pointer;
    color: #464646; 
}
.view-account-page-btn a{
    color: #464646; 
}
.account-sign-out-btn{
    background-color: #3D3D3D;
    color: white;
    padding: 6px 0px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.view-account-right{
    margin-top: 20px;
    margin-left: 20px;
}
.view-account-right-main-div{
    display: flex;
    flex-wrap: wrap;
}
.view-account-box{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #3D3D3D;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}
.view-account-react-icon{
    color: black;
    font-size: 45px;
}
.view-account-right-main-heading{
    margin-left: 10px;
    font-size: 20px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.account-info-main-div{
    margin-left: 10px;
    margin-top: 10px;
}
.account-info-text{
    margin-bottom: 10px;
    font-size: 18px;
}
.account-info-text input{
    font-size: 17px;
    font-family: "Amarante", cursive;
}
.account-info-text button{
    border: none;
    outline: none;
    background-color: #3D3D3D;
    color: white;
    padding: 6px 10px;
    font-size: 15px;
    font-family: "Amarante", cursive;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}
.account-text-area{
    display: flex;
}
.account-text-area textarea{
    font-size: 17px;
    font-family: "Amarante", cursive;
    margin-left: 10px;
}
.update-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 557px) {
    .view-account-left{
        display: none;
    }
    .view-account-main-div{
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
    .view-account-right-main-div{
        align-items: center;
        justify-content: center;
    }
    .view-account-right-main-heading{
        text-align: center;
    }
}

.order-product-right-div1{
    margin-bottom: 30px;
    border: 2px solid #3D3D3D;
    padding: 10px 10px;
    border-radius: 10px;
}

.account-info-text1{
    font-size: 18px;
}

.account-info-text1 b{
    margin-right: 5px;
}